<div class="calc-container">
    <div class="btn-container">
        <a href="/calculate" class="btn-refresh">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="icon refresh"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
                />
            </svg>
        </a>
        <button class="btn-add-pallet" id="btn-add-pallet">+ Pallet</button>
        <button class="btn-calc" id="btn-calc">Calculate</button>
    </div>
    <div class="skid-container">
        <div class="label-container">
            <p class="label-text">WEIGHT</p>
            <p class="label-text">LENGTH</p>
            <p class="label-text">WIDTH</p>
            <p class="label-text">HEIGHT</p>
        </div>
        <div class="skid">
            <div class="density"></div>
            <div class="skid-details">
                <div>
                    <input type="number" class="input-weight" placeholder="0" />
                    <span>lbs</span>
                </div>
                <div>
                    <input type="number" class="input-length" placeholder="0" />
                    <span>in.</span>
                </div>
                <div>
                    <input type="number" class="input-width" placeholder="0" />
                    <span>in.</span>
                </div>
                <div>
                    <input type="number" class="input-height" placeholder="0" />
                    <span>in.</span>
                </div>
            </div>
        </div>
    </div>
</div>
