<div class="error-container <%= (typeof errors === "undefined") ? '' : 'error-show' %>">
    <p class="error-text">
        <% if (typeof errors !== "undefined") { %>
         <%= errors %>
         <% } %>
    </p>
    <p class="error-close">x</p>
</div>