<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
        <main>
            <div class="login-card">
                <p class="login-title">Warehouse Inventory Manager</p>
                <div class="warehouse-icon">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="80"
                        height="80"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-warehouse-icon lucide-warehouse"
                    >
                        <path d="M18 21V10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v11" />
                        <path
                            d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8a2 2 0 0 1 1.132-1.803l7.95-3.974a2 2 0 0 1 1.837 0l7.948 3.974A2 2 0 0 1 22 8z"
                        />
                        <path d="M6 13h12" />
                        <path d="M6 17h12" />
                    </svg>
                </div>
                <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Username"
                />
                <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Password"
                />
                <button class="login-btn">Login</button>
                <a class="forgot-link" href="">Forgot password?</a>
            </div>
        </main>
    </body>
</html>
