.home {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #4563e64d;
}

.home-text {
    font-size: 4rem;
    color: #3d5ce6;
    text-align: center;
}
