body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(220, 226, 230);
    display: flex;
    flex-direction: row;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px #4563e68f;
}

.sidebar-title-container {
    display: flex;
    flex-direction: column;
}

.sidebar-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #3d5ce6;
}

.user {
    margin-top: 8px;
}

.sidebar-items {
    margin-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    margin-top: 25px;
    height: 35px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.sidebar-item:hover {
    color: #4563e6;
    cursor: pointer;
    transform: translateX(20px);
}

.icon {
    height: 26px;
    width: 26px;
}

.sidebar-item-text {
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.sidebar-items > :last-child {
    margin-top: auto;
}

.main-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(to left top, #4563e693, rgb(220, 226, 230));
    position: relative;
}

.notice-container {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    position: relative;
    text-align: center;
    width: 910px;
    height: 35px;
    padding: 5px 0;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #fff;
    margin-top: -20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 20;
    transition: opacity 0.3s ease-out;
}

.notice-close {
    position: absolute;
    top: 4px;
    right: 15px;
    font-weight: bold;
    cursor: pointer;
}

.notice-container.show {
    opacity: 100%;
    pointer-events: auto;
}

.notice-container.error {
    border-color: rgb(243, 103, 87);
    color: rgb(243, 103, 87);
}

.notice-container.success {
    border-color: rgb(76, 245, 98);
    color: rgb(56, 190, 74);
}

@media (max-width: 1350px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        flex-direction: row;
        width: 100%;
        height: 60px;
        padding: 5px;
    }

    .user {
        margin-top: 4px;
    }

    .sidebar-items {
        margin-top: 0;
        width: 50%;
        margin-left: auto;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .sidebar-item {
        margin-top: 0;
        justify-content: center;
        align-items: center;
    }

    .sidebar-items > :last-child {
        margin-top: 0;
    }

    .sidebar-item:hover {
        transform: none;
    }

    .icon {
        display: none;
    }
}
