.items-container {
    width: 1100px;
    height: 600px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff83;
    border-radius: 10px;
}

.items-left-container {
    width: 880px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 8px;
    position: relative;
}

.items-search-container {
    position: relative;
}

.items-search-container input {
    width: 100%;
    outline: none;
    border: 2px solid #b3b3b377;
    padding: 5px;
    border-radius: 3px;
    font-size: 1.1rem;
    text-align: left;
}

.items-search-container input:focus {
    border-color: #4563e6;
}

.items-search-icon {
    position: absolute;
    height: 23px;
    width: 23px;
    color: #4563e6;
    top: 5px;
    right: 10px;
}

/*                  DATA TABLE                 */

.items-table-container {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    border: 2px solid #9797977c;
    overflow: auto;
}

.items-table {
    width: 100%;
    border-collapse: collapse;
}

.items-table thead th {
    background-color: #6783fd;
    color: #fff;
    padding: 8px 6px;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 2;
}

.items-table th:hover,
.items-table th.sorted {
    background-color: #4563e6;
}

th.col-item-head {
    width: 192px;
}

th.col-num-head,
th.col-brand-head,
th.col-type-head,
th.col-weight-head,
th.col-pallet-head {
    width: 90px;
}

span.th-sort-direction {
    font-size: 0.5rem;
    margin-left: 5px;
    align-self: center;
}

.items-table tbody {
    overflow: auto;
}

tr.item-parent {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.items-table tr.item-parent.even {
    background-color: #6782fd2c;
}

.items-table tr.item-parent:hover {
    background-color: #a6b6ffa8;
}

.items-table tr.item-parent.selected {
    background-color: #4f6df3a8;
    color: #fff;
}

.items-table td {
    padding: 5px;
    font-size: 0.9rem;
}

td.col-item {
    padding-left: 20px;
}

td.col-weight {
    text-align: right;
}

td.col-pallet,
td.col-brand,
td.col-onhand,
td.col-num {
    text-align: center;
}

.item-child {
    background-color: #4f6df3a8;
    color: #fff;
}

.item-child td {
    padding: 0;
}

.items-table tr.item-child .item-child-content {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition:
        height 0.2s ease,
        opacity 0.2s ease,
        padding 0.2s ease;
}

.items-table tr.item-child .item-child-content.show {
    height: 25px;
    opacity: 1;
    padding: 5px 0 5px 30px;
}

/*                  RIGHT SIDE MENU                  */

.items-menu-container {
    width: 170px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 10px;
}

.items-menu-container button {
    width: 100%;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 5px 0;
    cursor: pointer;
    background-color: #6783fd;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-out;
}

.items-menu-container .btn-item-del {
    background-color: rgb(238, 106, 106);
}

.items-menu-container .btn-item-del:hover {
    background-color: rgb(221, 53, 53);
}

.items-menu-container button.btn-receiving {
    margin-bottom: 0;
    margin-top: auto;
}

.items-menu-container button:hover {
    background-color: #4563e6;
}

/*                  MODAL                  */
.modal {
    position: absolute;
    top: 0;
    left: 224px;
    height: 560px;
    width: 432px;
    padding: 20px 30px;
    border: 4px solid #6783fd;
    z-index: 20;
}

.modal form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal .form-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.form-title-container p.item-form-header {
    font-size: 1.5rem;
}

.form-title-container input {
    width: 20%;
    height: 30px;
    position: absolute;
    right: 38px;
    outline: none;
    border: 1px solid #666666c2;
    text-align: center;
    display: none;
}

.form-title-container .show {
    display: inline-block;
}

.form-input-container {
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-input-container input {
    width: 70%;
    outline: none;
    border: 2px solid #666666c2;
    padding: 6px;
    border-radius: 3px;
    font-size: 1.1rem;
    text-align: left;
}

.form-input-container select {
    width: 70%;
    outline: none;
    border: 2px solid #666666c2;
    font-size: 1.1rem;
    padding: 6px;
    border-radius: 3px;
}

.form-input-container:focus-within label {
    color: #4563e6;
}
.form-input-container:focus-within input,
.form-input-container:focus-within select {
    border-color: #4563e6;
}

.form-buttons {
    margin-top: auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
    height: 40px;
}

.form-buttons button {
    height: 100%;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.modal-close-btn {
    background-color: rgb(228, 74, 74);
    width: 26%;
}

.modal-submit-btn {
    width: 70%;
    background-color: #6783fd;
    transition: background-color 0.1s ease-out;
}

.modal-submit-btn:hover {
    background-color: #4563e6;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 250px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

/*              DEL MODAL               */
.del-modal {
    position: absolute;
    top: 50px;
    left: 250px;
    height: 320px;
    width: 400px;
    padding: 30px;
    /* border: 4px solid rgb(238, 106, 106); */
    border: none;
    border-radius: 15px;
    z-index: 20;
}

.del-modal .del-item-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.del-modal-title {
    font-size: 1.3rem;
    font-weight: bold;
    align-self: start;
    color: rgb(226, 10, 10);
}

.del-modal-item {
    margin-top: 25px;
    align-self: start;
    font-size: 1.5rem;
    font-weight: bold;
}

.del-modal-text {
    text-align: left;
    align-self: start;
    margin-top: 30px;
    font-size: 1.1rem;
}

.del-modal-buttons {
    align-self: end;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.del-modal-buttons button {
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 10px 22px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
}

.del-modal-buttons .del-modal-close-btn {
    background-color: #6783fd;
}

.del-modal-close-btn:hover {
    background-color: #4563e6;
}

.del-modal-buttons .del-modal-submit-btn {
    background-color: rgb(238, 106, 106);
}

.del-modal-submit-btn:hover {
    background-color: rgb(221, 53, 53);
}

/*              HISTORY MODAL               */
dialog.history-modal {
    position: absolute;
    top: 80px;
    left: 140px;
    width: 600px;
    height: 400px;
    padding: 20px;
    border: 4px solid #6783fd;
    z-index: 20;
}

div.history-modal-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.history-modal-title-div {
    font-size: 1.8rem;
}

div.history-top-btn-div {
    margin-top: 10px;
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.history-top-btn-div button {
    font-size: 1rem;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #6783fd;
    width: 49%;
    height: 35px;
    transition: background-color 0.2s ease-out;
}

.history-top-btn-div button:hover {
    background-color: #4563e6;
}

.history-table-container {
    width: 100%;
    height: 200px;
    margin-top: 15px;
    border: 2px solid #9797977c;
    overflow: auto;
}

table.history-table {
    width: 100%;
    border-collapse: collapse;
}

.history-table thead th {
    background-color: #6783fd;
    color: #fff;
    padding: 4px 3px;
    position: sticky;
    top: 0;
    z-index: 2;
}

th.col-hist-date-head {
    width: 120px;
}

th.col-hist-user-head {
    width: 70px;
    border-left: 1px solid #ffffff83;
    border-right: 1px solid #ffffff83;
}
/*      th .col-hist-message-head */

.history-table tbody {
    overflow: auto;
}

.history-table tr.even {
    background-color: #6782fd2c;
}

.history-table td {
    padding: 3px;
    font-size: 0.8rem;
    text-align: center;
}

.history-table td.col-message {
    text-align: left;
    padding-left: 8px;
}

button.history-close-btn {
    height: 35px;
    width: 126px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: rgb(238, 106, 106);
    transition: background-color 0.2s ease-out;
    margin-top: 15px;
    align-self: start;
}

button.history-close-btn:hover {
    background-color: rgb(221, 53, 53);
}

@media (max-width: 1350px) {
    .overlay {
        left: 0;
    }

    .items-container {
        flex-direction: column;
        width: 912px;
        height: 550px;
    }

    .items-table-container {
        height: 400px;
    }

    .items-menu-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .items-menu-container button {
        width: 17%;
        margin-bottom: 0;
    }

    .items-menu-container button.btn-receiving {
        margin: 0;
    }

    .items-menu-container .btn-item-del {
        order: 10;
    }
}
