.process-container {
    height: 600px;
    width: 980px;
    background-color: #ffffff83;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-container,
.right-container {
    /* width: 48%; */
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.left-container {
    width: 46%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.right-container {
    width: 50%;
}

.search-container {
    position: relative;
}

.search-container input {
    width: 100%;
    outline: none;
    border: 2px solid #666666c2;
    padding: 8px;
    border-radius: 3px;
    font-size: 1.2rem;
    text-align: left;
}

.search-container input:focus {
    border-color: #4563e6;
}

.search-icon {
    position: absolute;
    height: 26px;
    width: 26px;
    color: #4563e6;
    bottom: 8px;
    right: 5px;
}

.search-icon:hover {
    cursor: pointer;
    color: #000;
}

.brand-buttons {
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.brand-btn {
    padding: 4px;
    font-size: 1rem;
    background-color: #ccd5ff6b;
    border: 1px solid #9797977c;
    text-align: center;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.brand-btn:hover {
    border-color: #4563e6;
    background-color: #4563e6;
    color: #fff;
}

.item-display {
    margin-top: 10px;
    border: 1px solid #9797977c;
    height: 320px;
    overflow: auto;
    padding: 4px 0;
}

li {
    padding: 3px;
    cursor: default;
    cursor: pointer;
}

li:nth-child(even) {
    background-color: #6782fd2c;
}

li:hover {
    background-color: #a6b6ffa8;
}

li.selected {
    background-color: #6783fd;
    color: #fff;
}

.add-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.add-btn {
    height: 100%;
    border: none;
    width: calc(100% - 90px);
    background-color: #6783fd;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
}

.add-btn:hover {
    background-color: #4563e6;
}

input.add-qty {
    width: 80px;
    outline: none;
    border: 2px solid #9797977c;
    padding: 8px;
    border-radius: 3px;
    font-size: 1.2rem;
    text-align: right;
}

/*                  RIGHT SIDE CONTAINER                     */
.order-input-container {
    display: flex;
    align-items: center;
}

.order-label {
    font-size: 1.2rem;
}

.order-input-container input {
    width: 79%;
    outline: none;
    border: 2px solid #9797977c;
    padding: 8px;
    border-radius: 3px;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 15px;
}

.order-details {
    margin: 10px 0;
    height: 414px;
    overflow-x: clip;
    overflow-y: auto;
    border: 1px solid #9797977c;
}

.order-details-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.order-details-table thead tr {
    background-color: #6783fd;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
}

.col-item-header {
    min-width: 189px;
}

.col-remove-header {
    min-width: 30px;
}

.order-details-table th,
.order-details-table td {
    padding: 10px;
}

.order-details-table tbody tr {
    border-bottom: 1px solid #9797977c;
    font-size: 0.9rem;
}

td.col-name {
    font-weight: bold;
}

.order-details-table tbody tr:nth-of-type(even) {
    background-color: #ccd5ff6b;
}

/* tbody tr {
    color: green;
} */

.col-remove {
    font-size: 1rem;
    color: rgb(228, 74, 74);
    font-weight: bold;
    align-self: center;
    text-align: start;
    cursor: pointer;
}

.col-remove:hover {
    transform: scale(1.3);
}

.order-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 43px;
}

.clear-btn,
.process-btn {
    height: 100%;
    border: none;
    width: 30%;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
    background-color: #6783fd;
}

.clear-btn:hover {
    background-color: rgb(228, 74, 74);
}

.process-btn:hover {
    background-color: #45bd59;
}

/*                  MODAL CONTAINER + OVERLAY DIV             */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 560px;
    width: 432px;
    padding: 30px;
    border: 4px solid #6783fd;
    z-index: 20;
}

.modal-content-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid #9797977c;
}
.modal-content-wrapper h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
}

.modal-details-wrapper p {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.modal-btns {
    display: flex;
    justify-content: space-between;
    height: 43px;
    margin-top: 50px;
}

.modal-close-btn {
    border: none;
    height: 100%;
    width: 18%;
    color: #fff;
    background-color: rgb(228, 74, 74);
    font-size: 1.2rem;
    cursor: pointer;
}

.modal-save-btn {
    border: none;
    height: 100%;
    width: 80%;
    background-color: #6783fd;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 250px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}
